#formulaire_connexion {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    border: none;
    border-radius: 50px;
}

th{
    padding: 20px;
    border: none;
}

td{
    padding: 10px;
    border: none;
}

tr{
    background-color: #ffbb00;
    border: none;
    
}
